body {
    display: flex;
    justify-content: center;
    padding-top: 0.5%;
    overflow: hidden;
}

#screen {
    box-sizing: border-box;
    border-top: 5px solid darkgrey;
    border-left: 5px solid darkgrey;
    border-bottom: 5px solid lightgrey;
    border-right: 5px solid lightgrey;
    background-color: black;
    color: chartreuse;
    width: 310px;
    height: 200px;
    font-size: 50px;
    text-align: start;
    margin: 2.5px;
    margin-left: 7px;
    border-radius: 5%;
}

#calcBody {
    box-sizing: border-box;
    width: 520px;
    padding: 40px;
    background-color: grey;
    border-top: 5px solid lightgrey;
    border-bottom: 5px solid darkgrey;
    border-left: 5px solid lightgrey;
    border-right: 5px solid darkgrey;
    border-radius: 5%;
}

#calcNumButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

.numButtons {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    background-color: grey;
    border-top: 5px solid lightgrey;
    border-bottom: 5px solid darkgrey;
    border-left: 5px solid lightgrey;
    border-right: 5px solid darkgrey;
    color: white;
    text-align: center;
    font-size: 18px;
    border-radius: 10%;
    margin: 2.5px;
}
.numButtons:hover {
    cursor: pointer;
}
.numButtons:active {
    background-color: darkgrey;
}
#clearButton {
    float: right;
    margin-top: 100px;
    margin-right: 7px;
}